.swiperWrap {
  margin: 0 auto 0.48rem;
  height: 5.87rem;
  position: relative;
  width: 14.4rem;
  padding-top: 0.82rem;
}

.swiperBox {
  margin: 0 auto;
  position: relative;
  z-index: 9;
  font-size: 0;
  width: 100%;
  height: 5.87rem;

  .swiperItem {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .indicatorBox {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 99;
    transform: translateY(-50%);
    width: 1.9rem;

    .indicatorItem {
      width: 1.9rem;
      height: 0.64rem;
      font-size: 0.18rem;
      font-weight: bold;
      color: #D0D3D7;
      line-height: 0.64rem;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        //font-size: 0.26rem;
        //color: #FFFFFF;
        background: linear-gradient(90deg, rgba(225,68,46,0) 0%, rgba(225,68,46,0.3) 67%, rgba(225,68,46,0.04) 100%);
      }
    }

    .indicatorActive {
      font-size: 0.26rem;
      color: #FFFFFF;
      background: linear-gradient(90deg, rgba(225,68,46,0) 0%, rgba(225,68,46,0.3) 67%, rgba(225,68,46,0.04) 100%);
    }
  }

  .content {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1.4rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: linear-gradient(180deg, #13161A 0%, transparent);
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2.2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      background: linear-gradient(0deg, #13161A 0%, transparent);
    }

    .contentImg {
      width: 100%;
      height: 5.87rem;
      position: relative;
      background: url("../../../public/images/cover/wap-banner.png") 0 0 / 100% 100% no-repeat;
    }

    //.contentImgBg {
    //  width: 100%;
    //  height: 5.89rem;
    //  position: absolute !important;
    //  top: 0;
    //  left: 0;
    //  z-index: 1;
    //}
  }

  .swiperItemActive {
    opacity: 1;
    z-index: 9;
  }

  .left {
    display: block;
    position: absolute;
    top: 4.21rem;
    left: 0;
    width: 6.92rem;
    z-index: 10;
    font-size: 0;

    .bookName {
      display: block;
      font-size: 0.18rem;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 0.25rem;
    }

    .tagsBox {
      margin-top: 0.12rem;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      flex-wrap: wrap;
      height: 0.34rem;

      .tagItem {
        margin-right: 0.08rem;
        max-width: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 0.34rem;
        flex-shrink: 0;
        padding: 0.08rem 0.16rem;
        background-color: rgba(255,107,58,0.1);
        border-radius: 0.04rem;
        font-size: 0.14rem;
        font-weight: 400;
        color: red;
        line-height: 0.18rem;
      }
    }

    .intro {
      margin-top: 0.12rem;
      font-size: 0.16rem;
      font-weight: 400;
      color: rgba(255,255,255,0.6);
      line-height: 0.26rem;
      max-height: 0.52rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-wrap: break-word;
    }
  }
}
@media (max-width: 768px) {
  .swiperWrap{
    display: none;
  }
}
