.footerBox {
  background-color: #1C1C1E;
  padding: 0.32rem 0.32rem 0.48rem;
  width: 100%;

  .footerList {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0.38rem;

    .footerItem {
      display: flex;
      flex-direction: column;
      gap: 0.16rem;

      .footerLabel {
        font-weight: bold;
        font-size: 0.26rem;
        color: rgba(255, 255, 255, 0.6);
        line-height: 0.32rem;
      }

      .footerLink {
        font-size: .24rem;
        color: rgba(255, 255, 255, 0.6);
        line-height: .3rem;
        text-decoration: underline !important;
      }

      .footerLinkEmail {
        font-size: .24rem;
        color: rgba(255, 255, 255, 0.6);
        line-height: .3rem;
      }
    }
  }

  .footerContent {
    font-size: 0.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;


    .community {
      margin-top: 0.2rem;
      display: flex;
      justify-content: space-between;

      .communityLabel {
        font-weight: 500;
        margin-right: 0.1rem;
      }

      .communityItem {
        padding: 0 0.1rem;
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .fmail {
      margin: 0.25rem 0 0.2rem;
      display: block;
      text-align: center;
      line-height: 0.28rem;
      color: rgba(255, 255, 255, 0.6);
    }

    .fText {
      text-align: center;
      margin-top: 0.08rem;
      line-height: 0.28rem;
    }
  }
}

@media (min-width: 768px) {
  .footerBox {
    .footerList, .footerContent {
      width: 14.4rem;
      margin: 0 auto;
    }
  }
}
