:root {
  --vh: 1vh;
  //--adm-color-primary: #FF375F !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html {font-size: 54px;user-select: none;}
@media (min-width: 320px){ html{font-size: 42.6667px;} }
@media (min-width: 360px){ html{font-size: 48px;} }
@media (min-width: 375px){ html{font-size: 50px;} }
@media (min-width: 384px){ html{font-size: 51.2px;} }
@media (min-width: 414px){ html{font-size: 55.2px;} }
@media (min-width: 448px){ html{font-size: 59.7333px;} }
@media (min-width: 480px){ html{font-size: 64px;} }
@media (min-width: 512px){ html{font-size: 68.2667px;} }
@media (min-width: 544px){ html{font-size: 72.5333px;} }
@media (min-width: 576px){ html{font-size: 76.8px;} }
@media (min-width: 608px){ html{font-size: 81.0667px;} }
@media (min-width: 640px){ html{font-size: 85.3333px;} }
@media (min-width: 750px){ html{font-size: 100px;} }
@media (min-width: 768px) { html {font-size: 83.3px;user-select: text;} }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;
}

input {
  outline: none;
  border: none;
  user-select: text;
}

input::-webkit-search-cancel-button {
  display: none;
}

input::-webkit-input-placeholder {
  color: #acacac;
  font-weight: 400;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.clearfix:after {
  content: " ";
  display: block;;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}

#nprogress .bar {
  background: #FF375F;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FF375F, 0 0 5px #FF375F;
}

#nprogress .spinner {
  display: none;
}
