

.mEmptyBox {
  display: flex;
  justify-content: space-between;

  .mimgCover {
    width: 2.18rem;
    height: 3.12rem;
    background: url("../../../public/images/cover/defaultBook.png") 0 0 / 100% 100% no-repeat;
  }
  .mimgCoveroth {
    width: 3.34rem;
    height: 4.78rem;
    background: url("../../../public/images/cover/defaultBook.png") 0 0 / 100% 100% no-repeat;
  }
}
.pcEmptyBox{
  display:none;
}
@media (min-width: 768px) {
  .mEmptyBox{
    display:none;
  }
  .pcEmptyBox {
    display: flex;
    justify-content: space-between;
    padding-top: 0.46rem;
    .imgCoverEmpty {
      width: 1.84rem;
      height: 2.63rem;
      background: url("../../../public/images/cover/defaultBookDark.png") 0 0 / 100% 100% no-repeat;
    }
    .imgCoverEmptyoth {
      width: 2.86rem;
      height: 4.1rem;
      background: url("../../../public/images/cover/defaultBookDark.png") 0 0 / 100% 100% no-repeat;
    }
  }
}