// dramabox
$theme_color: #FF375F;
$theme_bg: #FFFFFF;
$theme_main_bg: #FFFFFF;

$pc_nav_color: rgba(0, 0, 0, 0.6);
$pc_nav_bg: #FFFFFF;
$pc_nav_hover: rgba(50, 50, 57, 0.07);
$pc_nav_border: 1px solid #EAEAEB;
$logo_color: #000000;
$pc_home_swiper_bg: rgba(50, 50, 57, 0.07);
$pc_home_swiper_bg_hover: rgba(50, 50, 57, 0.07);
$pc_home_name_color: rgba(0, 0, 0, 0.9);
$pc_home_name_color2: rgba(255, 255, 255, 0.9);
$pc_home_intro_color: rgba(0, 0, 0, 0.6);
$pc_footer_bg: rgba(50, 50, 57, 0.07);
$pc_footer_color1: rgba(0, 0, 0, 0.8);
$pc_footer_color2: rgba(0, 0, 0, 0.6);

// 标签
$type_tag_color: rgba(0, 0, 0, 0.6);
// 分页
$pc_page_active: rgba(50, 50, 57, 0.16);

// 剧集列表
$pc_series_border: 1px solid #F2F2F3;
$pc_series_bg: #F2F2F3;
$pc_series_color: rgba(0, 0, 0, 0.4);
$pc_detail_bg: rgba(50, 50, 57, 0.07);
$pc_detail_header_border: 1px solid #EAEAEB;

$pc_crumbs_color: rgba(0, 0, 0, 0.8);

$pc_extend_bg: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

$nav_border_color: #E2E2E3;

$m_nav_bg: rgba(255, 255, 255, 0.6);
$m_dot_color: rgba(0, 0, 0, 0.12);

$m_home_name_color: rgba(0, 0, 0, 0.9);
$m_browse_color: rgba(0, 0, 0, 0.6);
$m_browse_bg: #FFFFFF;

$pc_popover_bg: #FFFFFF;
$m_episode_nav_border: rgba(50, 50, 57, 0.07);
$m_dialog_bg: #FFFFFF;
$m_mark_bg: rgba(0, 0, 0, 0.7);
$m_tag_color: #222222;

@mixin m_footer_ad {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 .08rem .32rem 0 rgba(0, 0, 0, 0.2);
}

$m_swiper_dot_bg: rgba(0, 0, 0, 0.12);
$m_home_nav_border: #E2E2E3;
